.bold {
  font-weight: bold;
}
.btn {
  cursor: pointer;
  padding: 6px;
  background: linear-gradient(#4b5, #4d5);
  min-width: 40px;
}
.pizzaTab {
  display: flex;
  flex: 1;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}
.pizzaTab p {
  margin: auto;
}
.pizzaTab:first-child {
  border-top: 0px solid #555;
}
.prebuiltPizza {
  margin: 4% auto;
  text-align: center;
}
.prebuiltPizzaPicture {
  width: 10vw;
  height: 10vw;
  min-width: 100px;
  min-height: 100px;
  margin: 0% auto;
  object-fit: contain;
}
.toppingsRow{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 3vw auto;
}
.topping{
  width: 150px;
}
.box{
  display: flex;
}
.modRow{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.mod{
  margin: 5px;
}

#titleBar {
  text-align: center;
  background-color: #77f;
  margin: -8px;
  margin-bottom: 0px;
  padding: 5px;
}
#orderingArea {
  display: flex;
  flex-direction: row;
  width: 96%;
  margin: 2% 2%;
  background-color: #999;
  border: 1px solid #555;
  border-radius: 20px;
}
#orderingTabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#orderDesc {
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 90%;
}
#tabTitle {
  text-align: center;
  border-bottom: 1px solid #555;
  margin: 0%;
}
#prebuiltHolder {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #555;  
}
#prebuiltPizza1 img {
  background: url(images/toppings/sausage-normal.png),
  url(images/toppings/pepperoni-normal.png),
  url(images/toppings/ham-normal.png),
  url(images/cheeses/normal.png),
  url(images/sauces/normal.png),
  url(images/crusts/regular.png),
  #fff;
}
#prebuiltPizza2 img {
  background: url(images/toppings/spinach-double.png),
  url(images/toppings/peppers-double.png),
  url(images/toppings/onions-double.png),
  url(images/cheeses/double.png),
  url(images/sauces/light.png),
  url(images/crusts/garlic.png),
  #fff;
}
#prebuiltPizza3 img {
  background: url(images/toppings/jalapeno-light.png),
  url(images/toppings/bacon-normal.png),
  url(images/toppings/chicken-normal.png),
  url(images/cheeses/double.png),
  url(images/sauces/normal.png),
  url(images/crusts/stuffed.png),
  #fff;
}
#prebuiltPizza4 img {
  background: url(images/toppings/sausage-normal.png),
  url(images/toppings/pepperoni-normal.png),
  url(images/toppings/peppers-normal.png),
  url(images/toppings/onions-normal.png),
  url(images/cheeses/normal.png),
  url(images/sauces/normal.png),
  url(images/crusts/regular.png),
  #fff;
}
#prebuiltPizza5 img {
  background: url(images/toppings/peppers-normal.png),
  url(images/toppings/onions-normal.png),
  url(images/toppings/anchovies-normal.png),
  url(images/cheeses/double.png),
  url(images/sauces/light.png),
  url(images/crusts/thin.png),
  #fff;
}
#endOrder {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding: 0% 3%;
}
#orderBtn {
  display: none;
  margin: auto 0%;
  margin-left: auto;
  height: fit-content;
}
#checkoutBtn {
  margin: auto 0%;
  margin-left: auto;
  height: fit-content;
}
#customHolder{
  display: none;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #555;  
}
#pizzaDisplay{
  flex: 1;
  flex-direction: column;
  text-align: center;
}
#toppingsDisplay{
  flex: 1;
}
#pizzaDrawing {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#lblBonus{
  visibility: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}
#lblToppings{
  visibility: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}
#toppingsDisplay{
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #555;
}
#toppingsList{
  margin-left: auto;
  margin-right: auto;
}
#modDisplay{
  display: none;
  text-align: center;
}
@media all and (max-width:700px) {
  #prebuiltHolder {
    flex-direction: column;
  }
  /* Customize stuff */
  #customHolder{
    flex-direction: column;
    width: 100%;
  }
  #toppingsDisplay{
    width: 100%;
    border-left: 0px solid #555;    
    border-top: 1px solid #555;    
  }
  #pizzaDisplay{
    width: 100%;
  }
  #modDisplay{
    display: flex;
    flex-direction: column;
  }
}